DATABASE_URL="mysql://username:password@localhost:3306/s21100713_lost_n_found"
JWT_SECRET="your_jwt_secret_key_here"
SITE_URL="http://localhost:3000"
HUGGINGFACE_API_TOKEN=""
IMAGE_MODERATION_NSFW_THRESHOLD="0.75"
GITHUB_WEBHOOK_SECRET=""
